html, body {
	height: 100%;
}

body {
	margin: 0;
	background-color: #fff;
	transition: background-color 400ms ease;
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

/*
 * Instructions
 */

#instructions {
	display: flex;
	width: 100%;
	height: 100%;
	font-size: 2em;
	position: relative;
}

#instructions span {
	margin: auto;
	transition: opacity 400ms ease;
}

#instructions .filechooser {
	font-size: .75em;
	transition: opacity 400ms ease;
}

#instructions .filechooser a {
	position: relative;
	color: inherit;
}

#instructions .filechooser a input {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
}

#instructions .filechooser a input:hover {
	cursor: pointer;
}

/*
 * Drag over
 */

.dropzone {
	background-color: #01B3E3;
}

.dropzone #instructions .filechooser {
	opacity: 0;
}

/*
 * Loading
 */

/* Loader from: http://tobiasahlin.com/spinkit/ */
.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
	z-index: -1;
	opacity: 0;
	transition: opacity 400ms ease;
	width: 60px;
	height: 60px;
	background-color: #FFFFFF;
	border-radius: 100%;  
	animation: sk-scaleout 1.0s infinite ease-in-out;
}

@keyframes sk-scaleout {
	0% { 
		transform: scale(0);
	} 100% {
		transform: scale(1.0);
		opacity: 0;
	}
}

.loading .spinner {
	opacity: 1;
}

.loading #instructions span {
	opacity: 0;
}



#canvas-ig {
	display: none;
	width: 100%;
	height: 100%;
}

#canvas-ig canvas {
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}


.canvas #canvas-ig {
	display: flex;
}

.canvas #instructions {
	display: none;
}